a{
  color:black;
  text-decoration: none;
}
h1{
  font-size: 45px;
  text-align: center;
  margin:0;
  padding:10px;
}
ul{
  list-style-type: none;
  margin:0;
  padding:0;
  border:0;
  overflow:hidden;
  background-color: #FFB6C1;
}
li{
  float: left;
}
li a{
  display:block;
  color:white;
  text-align: center;
  padding:16px;
  text-decoration: none;
}
li a:hover{
  background-color: #7B68EE;
}
body{
  margin:0;
}
